<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="templates :: head"/>
    <title th:text="#{bmr.page.title}">ATM - BMR</title>
</head>
<body>
<div th:replace="templates :: navbar"></div>
<div class="small text-right">
    <a th:href="@{bmr(lang=pl_PL)}" th:text="#{language.polish}"></a> |
    <a th:href="@{bmr(lang=en_GB)}" th:text="#{language.english}"></a> |
    <a th:href="@{bmr(lang=de_DE)}" th:text="#{language.german}"></a>
</div>


<form method="post" th:action="@{/bmr}" th:object="${metabolicRate}" class="col-sm-10">

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0" th:text="#{bmr.gender}"></legend>
            <div class="col-sm-20">
                <div class="form-check">
                    <input type="radio" name="gender" value="MALE" checked th:text="#{male}" th:field="*{gender}"> <br>
                    <input type="radio" name="gender" value="FEMALE" th:text="#{female}" th:field="*{gender}">
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0" for="weight" th:text="#{bmr.weight}"></label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="weight" name="weight" th:field="*{weight}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0" for="height" th:text="#{bmr.height}"></label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="height" name="height" th:field="*{height}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0" for="age" th:text="#{bmr.age}"></label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="age" name="age" th:field="*{age}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0" th:text="#{bmr.activity}"></label>
        <div class="col-sm-2">
            <select class="form-control" name="activity" th:field="*{activity}">
                <option value="NO_ACTIVITY" th:text="#{bmr.no_activty}"></option>
                <option value="LOW_ACTIVITY" th:text="#{bmr.low_activity}"></option>
                <option value="MID_ACTIVITY" th:text="#{bmr.medium.activity}"></option>
                <option value="HIGH_ACTIVITY" th:text="#{bmr.high.activity}"></option>
                <option value="EXTREME_ACTIVITY" th:text="#{bmr.extreme.activity}"></option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0" th:text="#{bmr.aim}"></label>
        <div class="col-sm-2">
            <select class="form-control" name="aim" th:field="*{aim}">
                <option value="LOSE" th:text="#{bmr.aim.lose}"></option>
                <option value="GAIN" th:text="#{bmr.aim.gain}"></option>
                <option value="KEEP" th:text="#{bmr.aim.keep}"></option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0"></label>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary col-sm-12" th:text="#{calculate.button}"></button>
        </div>
    </div>

</form>

<form method="get" class="col-sm-10">
    <div class="form-group row">
        <label class="col-form-label col-sm-2 pt-0" th:text="#{bmr.daily}"></label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="bmr" name="bmr"
                   th:value="${metabolicRate.calculateMetabolicRate()}" readonly>
        </div>
        <div class="col-sm-2">
            <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary col-sm-5"
                    th:text="#{save.button}"></button>
        </div>
    </div>
</form>

<div th:replace="templates :: footer"></div>

</body>
</html>