<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="templates :: head">
    </div>

    <title th:text="#{bmr.page.title}">ATM - BMR</title>
</head>
<body>
<div th:replace="templates :: navbar"></div>
<div class="small text-right">
    <a th:href="@{bmr(lang=pl_PL)}" th:text="#{language.polish}"></a> |
    <a th:href="@{bmr(lang=en_GB)}" th:text="#{language.english}"></a> |
    <a th:href="@{bmr(lang=de_DE)}" th:text="#{language.german}"></a>
</div>

<form method="get">
    <div class="container align-items-center">
        <div class="row">
            <div class="form-group col-md-2">
                <input type="radio" name="gender" value="male" checked th:text="#{male}"> <br>
                <input type="radio" name="gender" value="female" th:text="#{female}"> <br>
            </div>
            <div class="col-md-3"></div>
            <div class="form-group col-md-2">
                <label for="weight" th:text="#{bmr.weight}">Weight</label>
                <input type="number" class="form-control" id="weight" name="weight">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="height" th:text="#{bmr.height}">Height</label>
                <input type="number" class="form-control" id="height" name="height">
            </div>
            <div class="col-md-3"></div>
            <div class="form-group col-md-2">
                <label for="age" th:text="#{bmr.age}">Age</label>
                <input type="number" class="form-control" id="age" name="age">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label th:text="#{bmr.physical.activity}">Activity</label>
                <select class="form-control" name="activity">
                    <option value="NO_ACTIVITY" th:text="#{bmr.no_activty}"></option>
                    <option value="LOW_ACTIVITY" th:text="#{bmr.low_activity}"></option>
                    <option value="MID_ACTIVITY" th:text="#{bmr.medium.activity}"></option>
                    <option value="HIGH_ACTIVITY" th:text="#{bmr.high.activity}"></option>
                    <option value="EXTREME_ACTIVITY" th:text="#{bmr.extreme.activity}"></option>
                </select>
            </div>
            <div class="col-md-3"></div>
            <div class="form-group col-md-2">
                <label th:text="#{bmr.aim}">Aim</label>
                <select class="form-control" name="aim">
                    <option value="LOSE" th:text="#{bmr.aim.lose}"></option>
                    <option value="GAIN" th:text="#{bmr.aim.gain}"></option>
                    <option value="KEEP" th:text="#{bmr.aim.keep}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" th:text="#{calculate.button}">Calculate</button>
        </div>
    </div>
</form>

<form method="get">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="bmr" th:text="#{bmr.daily}">BMR</label>
                <input type="text" class="form-control" id="bmr" name="bmr" readonly>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" th:text="#{save.button}">Save</button>
        </div>
    </div>
</form>

<div th:replace="templates :: footer"></div>

</body>
</html>