<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" >

    <meta charset="UTF-8">
    <title th:text="#{caloriescalc.page.title}">Page Title</title>
</head>
<body>
<th:block th:fragment="calc">
<div class="container">
    <div class="small text-right">
        <a th:href="@{caloriescalc(lang=pl_PL)}" th:text="#{language.polish}"></a> |
        <a th:href="@{caloriescalc(lang=en_GB)}" th:text="#{language.english}"></a> |
        <a th:href="@{caloriescalc(lang=de_DE)}" th:text="#{language.german}"></a>
    </div>
    <div class="row">
        <div class="col-md-12"><h1 align="center" th:text="#{caloriecalculator}">Calorie Calculator</h1></div>
    </div>
    <div class="row">
        <div class="col-md-2">produkty</div>
        <div class="col-md-2">gramy</div>
        <div class="col-md-1">tłuszcz</div>
        <div class="col-md-1">białka</div>
        <div class="col-md-2">weglowodany</div>
        <div class="col-md-2">kalorie</div>
    </div>
    <br>

      <div class="row" th:block th:each="product : ${session.plan}" th:unless="${session == null}">
        <div class="col-md-2">
            <div th:text="${product.getName()}"></div>
        </div>
        <div class="col-md-2">
            <input type="number" class="form-control" id="grams" th:value="${product.getAmount()}">
        </div>
        <div class="col-md-1">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(product.getFat()/100*product.getAmount(), 1, 2)}">...</div>
        </div>
        <div class="col-md-1">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(product.getProtein()/100*product.getAmount(), 1, 2)}">...</div>
        </div>
        <div class="col-md-2">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(product.getCarbs()/100*product.getAmount(), 1, 2)}">...</div>
        </div>
        <div class="col-md-2">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(product.getKcal()/100*product.getAmount(), 1, 2)}">...</div>
        </div>
        <div class="col-md-2">
        <span class="close">
            <a th:href="@{/caloriescalc(deleteId=${product.id})}">
                <span aria-hidden="true">&times;</span>
            </a>
        </span>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-2">Bilans posiłków</div>
        <div class="col-md-2">
            <input type="number" class="form-control" id="grams" th:value="${totalAmount}" }>
        </div>
        <div class="col-md-1">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(totalFat, 1, 2)}">...</div>
        </div>
        <div class="col-md-1">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(totalProt, 1, 2)}">...</div>
        </div>
        <div class="col-md-2">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(totalCarbs, 1, 2)}">...</div>
        </div>
        <div class="col-md-2">
            <div class="d-inline p-2 bg-primary text-white" th:text="${#numbers.formatDecimal(totalKcal, 1, 2)}">...</div>
        </div>
    </div>
    <div class="row">
        <form th:action="@{/caloriescalc}" th:object="${product}" method='post'>
            <select th:field="*{id}">
                <option th:each="product : ${products}"
                        th:value="${product.id}"
                        th:utext="${product.name}">
                </option>
            </select>
            <input type="number" th:field="*{amount}">
              <input name="submit" type="submit" value="+" />
    </form>
    </div>
</div>
</th:block>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>