<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="templates :: head">
    </div>

    <title th:text="#{login.page.title}">Page title</title>
</head>

    <form th:action='@{/login}' method='POST'>
         User: <input type='text' name='username' value='' />
         Password: <input type='password' name='password'/>
                <input name="submit" type="submit" value="Zaloguj"/></td></tr>
        </table>
    </form>

<div class="container" th:replace="templates :: footer">
    <p> Footer </p>
</div>

</body>
</html>